---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Page Not Found">
  <main class="flex h-screen flex-col items-center justify-center">
    <p class="flex flex-row items-center gap-4 text-3xl md:text-5xl">
      <span class="text-code-bracket-2">{"{"}</span>
      <span class="">status:</span>
      <span class="text-glitch text-6xl md:text-9xl">500</span>
      <span class="text-code-bracket-2">{"}"}</span>
    </p>
  </main>
</BaseLayout>
