---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Isaac Fei - About Me">
  <article
    class="prose w-full text-code-variable prose-h1:text-code-class prose-h2:text-code-function prose-h3:text-code-function prose-a:text-code-constant prose-blockquote:text-code-string prose-strong:text-code-variable prose-code:text-code-keyword-control prose-ul:mt-0"
  >
    <p>
      I am a data scientist and full-stack developer with a strong passion for
      building robust, scalable applications and solving complex problems using
      data-driven approaches. I hold a Master of Data Science from the
      University of Hong Kong and a Bachelor's degree in Applied Mathematics
      from the Chinese University of Hong Kong (Shenzhen), which have equipped
      me with a deep understanding of both mathematical principles and modern
      computational techniques.
    </p>

    <p>
      As a full-stack developer, I specialize in building dynamic web
      applications using Next.js and React, ensuring seamless user experiences
      and high performance. I also enjoy working with systems programming
      languages like Go (Golang), Rust, and Zig, which allow me to create
      efficient, low-level solutions and explore the intricacies of software
      development.
    </p>

    <p>
      In the field of data science, I have extensive experience working with
      computer vision and Large Language Models (LLMs), particularly in areas
      like prompt engineering and fine-tuning models for real-world
      applications. My projects include developing AI-powered chatbots with
      localized knowledge bases and automated resume generation systems,
      showcasing my ability to integrate machine learning into practical,
      production-ready solutions.
    </p>

    <p>
      Beyond my technical work, I am an enthusiastic mathematician who regularly
      revisits and documents mathematical concepts in comprehensive notebooks.
      This practice not only reinforces my understanding but also reflects my
      commitment to continuous learning and knowledge sharing.
    </p>
  </article>
</MainLayout>

<script></script>
