---
// Models
import type { CollectionEntry } from "astro:content";

// Layout
import MainLayout from "@/layouts/MainLayout.astro";

// Components
import { Image } from "astro:assets";
import {
  GitHubLink,
  WhatsAppLink,
  MediumLink,
  EmailLink,
} from "@/components/social-media-link";
import BlogPostCardContainer from "@/components/BlogPostCardContainer.astro";
import MathematicalAnalysisNotebook from "@/components/notebook/MathematicalAnalysisNotebook.astro";
import LinearAlgebraNotebook from "@/components/notebook/LinearAlgebraNotebook.astro";
import BookCard from "@/components/BookCard.astro";

// Utilities
import { getCollection } from "astro:content";
import myPicture from "../assets/isaac-fei.jpg";
import { Button } from "@/components/ui/button";

// Get all blog posts from /content/posts
const blogPosts: CollectionEntry<"posts">[] = await getCollection("posts");

// Sort blog posts by creation date in descending order
blogPosts.sort(
  (blogPost1, blogPost2) =>
    blogPost2.data.createdAt.valueOf() - blogPost1.data.createdAt.valueOf()
);

// Maximum number of recent blog posts
const maxNumRecentBlogPosts = 5;

// Get the recent blog posts
const recentBlogPosts = blogPosts.slice(0, maxNumRecentBlogPosts);
---

<MainLayout className="flex h-full flex-col" title="Isaac Fei">
  <!-- Introduction -->
  <div class="flex flex-col gap-4">
    <!-- Greeting -->
    <p class="text-3xl font-bold text-code-variable">Welcome to My Website</p>

    <!-- Description -->
    <div class="flex flex-col gap-2 text-6xl font-semibold text-code-class">
      <!-- <p>A Space for Sharing</p>
        <p>STEM Knowledge</p>
        <p>and</p>
        <p>Coding Skills</p> -->
      A Space for Sharing STEM Knowledge and Coding Skills
    </div>

    <!-- My picture -->
    <section class="flex">
      <div class="flex flex-col gap-4">
        <!-- My picture -->
        <div class="size-32 overflow-clip rounded-full border-2 shadow-md">
          <Image class="h-full object-cover" src={myPicture} alt="Isaac Fei" />
        </div>

        <!-- Social media links -->
        <div
          class="flex w-full flex-row items-center justify-between gap-2 text-2xl"
        >
          <GitHubLink />
          <WhatsAppLink />
          <MediumLink />
          <EmailLink />
        </div>
      </div>
    </section>

    <!-- <svg
      class="h-[15rem] w-[20rem] border-2 font-fira-code text-code-variable"
      viewBox="0 0 100 45"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      font-weight="bold"
    >
      <text x="0" y="0">S</text>
      <text x="10" y="0" font-size="0.5em">cience</text>

      <text x="0" y="15" font-size="large">T</text>
      <text x="10" y="15" font-size="small">echnology</text>

      <text x="0" y="30">E</text>
      <text x="10" y="30" font-size="0.5em">ngineering</text>

      <text x="0" y="45">M</text>
      <text x="10" y="45" font-size="0.5em">athematics</text>
    </svg> -->
  </div>

  <script is:inline>
    import pdfjsDist from "https://cdn.jsdelivr.net/npm/pdfjs-dist@4.9.155/+esm";
  </script>
</MainLayout>
