---
// Models
import type { CollectionEntry } from "astro:content";

// Layout
import MainLayout from "@/layouts/MainLayout.astro";

// Components
import { Image } from "astro:assets";
import {
  GitHubLink,
  WhatsAppLink,
  MediumLink,
  EmailLink,
} from "@/components/social-media-link";
import BlogPostCardContainer from "@/components/BlogPostCardContainer.astro";
import MathematicalAnalysisNotebook from "@/components/notebook/MathematicalAnalysisNotebook.astro";
import LinearAlgebraNotebook from "@/components/notebook/LinearAlgebraNotebook.astro";
import BookCard from "@/components/BookCard.astro";

// Utilities
import { getCollection } from "astro:content";
import myPicture from "../assets/isaac-fei.jpg";
import { Button } from "@/components/ui/button";

// Get all blog posts from /content/posts
const blogPosts: CollectionEntry<"posts">[] = await getCollection("posts");

// Sort blog posts by creation date in descending order
blogPosts.sort(
  (blogPost1, blogPost2) =>
    blogPost2.data.createdAt.valueOf() - blogPost1.data.createdAt.valueOf()
);

// Maximum number of recent blog posts
const maxNumRecentBlogPosts = 5;

// Get the recent blog posts
const recentBlogPosts = blogPosts.slice(0, maxNumRecentBlogPosts);
---

<MainLayout className="flex h-full flex-col" title="Isaac Fei">
  <!-- Introduction -->
  <div class="flex flex-col">
    <!-- My picture -->
    <div
      class="h-[10rem] w-[10rem] overflow-clip rounded-full border-2 shadow-md"
    >
      <Image
        class="h-full w-full object-cover"
        src={myPicture}
        alt="Isaac Fei"
      />
    </div>
  </div>
</MainLayout>

<script is:inline>
  import pdfjsDist from "https://cdn.jsdelivr.net/npm/pdfjs-dist@4.9.155/+esm";
</script>
