---
// Models
import type { CollectionEntry } from "astro:content";

// Layout
import MainLayout from "@/layouts/MainLayout.astro";

// Components
import { Image } from "@unpic/astro";
import {
  GitHubLink,
  WhatsAppLink,
  MediumLink,
  EmailLink,
} from "@/components/social-media-link";
import BlogPostCardContainer from "@/components/BlogPostCardContainer.astro";
import MathematicalAnalysisNotebook from "@/components/notebook/MathematicalAnalysisNotebook.astro";
import LinearAlgebraNotebook from "@/components/notebook/LinearAlgebraNotebook.astro";
import BookCard from "@/components/BookCard.astro";

// Utilities
import { getCollection } from "astro:content";
import myPicture from "../assets/isaac-fei.jpg";

// Get all blog posts from /content/posts
const blogPosts: CollectionEntry<"posts">[] = await getCollection("posts");

// Sort blog posts by creation date in descending order
blogPosts.sort(
  (blogPost1, blogPost2) =>
    blogPost2.data.createdAt.valueOf() - blogPost1.data.createdAt.valueOf(),
);

// Maximum number of recent blog posts
const maxNumRecentBlogPosts = 5;

// Get the recent blog posts
const recentBlogPosts = blogPosts.slice(0, maxNumRecentBlogPosts);
---

<MainLayout className="h-full" title="Isaac Fei">
  <!-- Introduction -->
  <div class="flex flex-col items-center justify-between gap-4 text-center">
    <!-- My picture  -->
    <div class="">
      <Image
        class="h-[12rem] w-[12rem] rounded-full border-2 object-cover shadow-md"
        src={myPicture}
        alt="My Picture"
        placeholder="blurhash"
      />
    </div>

    <p>Welcome to my website 👋</p>

    <!-- Social links -->
    <div class="flex flex-row justify-between gap-4 text-2xl">
      <GitHubLink />
      <WhatsAppLink />
      <MediumLink />
      <EmailLink />
    </div>
  </div>

  <!-- Notebooks -->

  <div class="-translate-x-4 text-2xl font-semibold">
    <span class="text-code-variable">notebooks</span>
    <span class="text-code-plain">=</span>
    <span class="text-code-bracket-1">{"["}</span>
  </div>

  <p class="text-code-comment">{"// Mathematics Notebooks"}</p>

  <ul class="flex flex-col gap-8 md:grid">
    <BookCard
      title="Mathematical Analysis"
      description="This notebook mainly follows the strucuture of the Apostol's Mathematical Analysis."
    >
      <MathematicalAnalysisNotebook />
    </BookCard>

    <BookCard
      title="Linear Algebra"
      description="This notebook mainly follows the strucuture of "
    >
      <LinearAlgebraNotebook />
    </BookCard>
  </ul>

  <!-- End of notebooks -->
  <div class="-translate-x-4 text-2xl font-semibold">
    <span class="text-code-bracket-1">{"]"}</span>
  </div>

  <!-- Recent blog posts -->
  <div class="-translate-x-4 text-2xl font-semibold">
    <span class="text-code-variable">recentPosts</span>
    <span class="text-code-plain">=</span>
    <span class="text-code-bracket-1">{"["}</span>
  </div>

  <!-- Blog post cards -->
  <BlogPostCardContainer blogPosts={recentBlogPosts} />

  <!-- Read more -->
  <!-- Navigate to the blog page -->
  <a
    class="flex flex-row text-xl hover:cursor-pointer md:text-2xl"
    href="/blog/1"
  >
    <span class="text-code-plain">...</span>
    <span>&nbsp;</span>
    <span class="animate-pulse text-code-comment">
      {"// Read more ->"}
    </span>
  </a>

  <!-- End of recent blog post cards -->
  <div class="-translate-x-4 text-2xl font-semibold">
    <span class="text-code-bracket-1">{"]"}</span>
  </div>
</MainLayout>
