---
// Models
import type { CollectionEntry } from "astro:content";

// Layout
import MainLayout from "@/layouts/MainLayout.astro";

// Components
import { ArrowRight } from "lucide-react";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import { Card, CardContent, CardHeader } from "@/components/ui/card";
import {
  GitHubLink,
  WhatsAppLink,
  MediumLink,
  EmailLink,
} from "@/components/social-media-link";
import BlogPostCardContainer from "@/components/BlogPostCardContainer.astro";
import MathematicalAnalysisNotebook from "@/components/notebook/MathematicalAnalysisNotebook.astro";
import LinearAlgebraNotebook from "@/components/notebook/LinearAlgebraNotebook.astro";
import BookCard from "@/components/BookCard.astro";
import HeroImage from "@/components/HeroImage.astro";
import { TypewriterText } from "@/components/typewriter-text";

// Utilities
import { getCollection } from "astro:content";
import banner from "@/assets/banner.png";
import myPicture from "@/assets/isaac-fei-hero-image.png";

// Get all blog posts from /content/posts
const blogPosts: CollectionEntry<"posts">[] = await getCollection("posts");

// Sort blog posts by creation date in descending order
blogPosts.sort(
  (blogPost1, blogPost2) =>
    blogPost2.data.createdAt.valueOf() - blogPost1.data.createdAt.valueOf()
);

// Maximum number of recent blog posts
const maxNumRecentBlogPosts = 5;

// Get the recent blog posts
const recentBlogPosts = blogPosts.slice(0, maxNumRecentBlogPosts);
---

<MainLayout className="flex h-full flex-col" title="Isaac Fei">
  <!-- Hero section -->
  <section class="flex flex-col justify-between md:flex-row md:gap-8">
    <div class="flex flex-col justify-between gap-8">
      <!-- Headline and subheadline -->
      <div class="flex flex-col gap-8">
        <!-- Headline -->
        <div class="text-3xl font-bold text-code-class">
          <p>My Learning Journal on</p>
          <TypewriterText
            client:only="react"
            className="text-code-function"
            texts={["Mathematics", "Softarware Development", "Engineering"]}
          />
        </div>

        <!-- Subheadline -->
        <div class="text-xl font-semibold">
          A space where I jot down ideas, explore concepts, and share my journey
          through mathematics, coding, and data science
        </div>
      </div>

      <!-- Self introduction -->
      <p class="flex flex-wrap">
        <span>I am a</span>
        <span>&nbsp;</span>
        <TypewriterText
          client:only="react"
          className="text-code-function"
          texts={["data scientist", "full-stack developer", "math enthusiast"]}
        />
      </p>
    </div>

    <!-- Hero image -->
    <div class="flex flex-col justify-between gap-8">
      <HeroImage />

      <p class="flex flex-row justify-center text-lg font-semibold">
        <span class="text-code-tag">{"<"}</span>
        <span class="text-code-class">Isaac Fei</span>
        <span class="text-code-tag">{"/>"}</span>
      </p>
    </div>
  </section>
</MainLayout>
