---
import "@/styles/globals.css";

import Layout from "../layouts/Layout.astro";
import { StopwatchDemo } from "@/components/stopwatch-demo";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center">
    <p>My Site {"->"}</p>
    <StopwatchDemo client:load />
  </main>
</Layout>
