---
import MainLayout from "@/layouts/MainLayout.astro";
import Search from "@/components/Search.astro";
---

<MainLayout title="Playground">
  <h1 class="">Playground</h1>

  <div class="border-2 p-4">
    <Search />
  </div>
</MainLayout>
