---
import MainLayout from "@/layouts/MainLayout.astro";

import Book from "@/components/Book.astro";
---

<MainLayout title="Playground">
  <h1 class="">Playground</h1>

  <div class="grid grid-cols-2">
    <Book
      coverTitleLines={["Mathematical", "Analysis"]}
      coverLogoSymbol="∫"
      color="#881337"
    />
  </div>
</MainLayout>
