---
import MainLayout from "@/layouts/MainLayout.astro";
import Search from "@/components/Search.astro";
import SearchDialog from "@/components/SearchDialog.astro";
// import { SearchDialog } from "@/components/search-dialog";
---

<MainLayout title="Playground">
  <h1 class="">Playground</h1>

  <!-- Test pagefind -->
  <!-- <SearchDialog /> -->

  <!-- <div>
    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{ showImages: false }}
    />
  </div> -->

  <Search />
</MainLayout>
