---
import MainLayout from "@/layouts/MainLayout.astro";

// If it is named Search than it will conflict with the search page
// since my development environment is insensitive to cases
import MySearch from "@/components/Search.astro";
---

<MainLayout
  className="flex w-full flex-col items-center justify-center"
  title="Search"
>
  <!-- <p class="sticky top-20 text-2xl">s</p> -->
  <MySearch className="" />
</MainLayout>

<script>
  // const url = window.location.href;
  // window.location.replace();
</script>
