---
import type { CollectionEntry } from "astro:content";

import BlogPostCard from "./BlogPostCard.astro";

interface Props {
  blogPosts: CollectionEntry<"blogPost">[];
}

const { blogPosts } = Astro.props;
---

<div
  class="wide-for-grid-2:grid-cols-2 wide-for-grid-2:grid flex flex-col items-center gap-6"
>
  {blogPosts.map((blogPost) => <BlogPostCard blogPost={blogPost} />)}
</div>
