---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div
  class="book-card relative flex flex-row gap-4 rounded-md border-2 bg-card p-4 shadow-md"
>
  <!-- Book -->
  <div class="hidden md:block">
    <slot />
  </div>

  <div class="flex flex-col gap-2">
    <!-- Title -->
    <p class="text-code-class">{title}</p>

    <div class="flex flex-row gap-2 text-xl text-code-function">
      <span class="icon-[gg--website]"></span>
      <span class="icon-[mdi--github]"></span>
      <span class="icon-[teenyicons--pdf-outline]"></span>
    </div>

    <!-- Description -->
    <!-- Display at most 5 lines with trailing ellipsis if it is too long -->
    <p class="line-clamp-5 overflow-hidden text-ellipsis">
      {description}
    </p>
  </div>
</div>
