---
import { config } from "@/config";

import { Logo } from "@/components/logo";
import NavigationLink from "@/components/NavigationLink.astro";
import SearchButton from "@/components/SearchButton.astro";
import { SideMenu } from "@/components/side-menu";
import type { MarkdownHeading } from "astro";

interface Props {
  blogPostHeadings?: MarkdownHeading[];
}

const { blogPostHeadings } = Astro.props;
---

<header
  class="fixed left-0 right-0 top-0 z-40 flex flex-row justify-between gap-8 border-b-2 bg-panel px-8 py-0"
  style={{ height: config.headerHeight }}
>
  <!-- Logo -->
  <Logo className="flex h-full flex-col justify-center" />

  <!-- Navigation links for wide screens -->
  <nav class="hidden h-full flex-row gap-16 md:flex">
    {
      config.navigationLinkConfigs.map((navigationLinkConfig) => (
        <NavigationLink {...navigationLinkConfig} />
      ))
    }
  </nav>

  <!-- Search -->
  <div class="flex h-full flex-col justify-center hover:cursor-pointer">
    <SearchButton />
  </div>

  <!-- Side menu on narrow screens -->
  <div class="flex flex-col justify-center md:hidden">
    <SideMenu client:load blogPostHeadings={blogPostHeadings} />
  </div>
</header>

<style></style>
