---
import Search from "./Search.astro";
---

<div
  id="search-dialog"
  class="fixed bottom-0 left-0 right-0 top-0 z-50 hidden bg-background md:bg-overlay md:backdrop-blur"
>
  <!-- For landscape wide screens -->
  <div
    id="search-dialog-modal"
    class="hidden h-screen landscape:md:flex landscape:md:flex-col landscape:md:items-center landscape:md:justify-center"
  >
    <div
      class="flex w-2/3 min-w-[20rem] max-w-[500px] flex-col rounded-md border-2 bg-panel p-8 shadow-md md:w-3/4 md:max-w-[800px]"
      style={{
        height: "calc(20rem + 2rem * 2)",
      }}
    >
      <Search />
    </div>
  </div>

  <!-- For protrait or narrow screens -->
  <div
    class="flex max-h-screen w-full flex-col overflow-auto p-4 landscape:md:hidden"
  >
    <div class="flex w-full flex-col justify-between gap-2">
      <!-- Search -->
      <Search />
    </div>
  </div>
</div>

<script>
  import {
    getSearchDialog,
    closeSearchDialog,
    addSearchCancelButtons,
  } from "@/utils";

  // Hit Escape key to close the search dialog
  document.addEventListener("keyup", (event) => {
    if (event.key === "Escape") {
      event.preventDefault();

      // Close the search dialog
      closeSearchDialog();
    }
  });

  document.addEventListener("astro:page-load", async () => {
    // Get the search dialog
    const searchDialog = getSearchDialog();

    if (searchDialog) {
      searchDialog.onclick = (event) => {
        // Cast the event target to HTMLElement
        const element = event.target as HTMLElement;

        // Close the search dialog when the modal is clicked
        if (element.id === "search-dialog-modal") {
          closeSearchDialog();
        }
      };
    }

    // addSearchCancelButtons();
  });
</script>

<style is:global>
  .search-dialog-fade-in {
    animation: fade-in 300ms ease-in-out forwards;
  }

  .search-dialog-fade-out {
    animation: fade-out 300ms ease-in-out forwards;
  }

  @keyframes fade-in {
    0% {
      display: hidden;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      display: block;
      opacity: 1;
    }

    100% {
      display: hidden;
      opacity: 0;
    }
  }
</style>
