---

---

<div class="not-prose flex flex-col items-center justify-center">
  <div
    class="flex h-[12rem] w-[8rem] flex-col overflow-clip rounded-md border-2 shadow-md"
  >
    <video
      class="h-full w-full object-cover"
      src="/videos/stopwatch-demo.mp4"
      muted
      playsinline
      autoplay
      loop
    >
    </video>
  </div>
</div>
