---

---

<a
  class="h-full hover:motion-preset-pulse-md hover:text-code-class"
  href="mailto:isaac.omega.fei@gmail.com"
  target="_blank"
>
  <span class="icon-[ic--baseline-email] h-full"></span>
</a>
