---
import BaseLayout from "./BaseLayout.astro";

import Header from "@/components/Header.astro";
import SearchDialog from "@/components/SearchDialog.astro";

import { cn } from "@/lib/utils";
import { config } from "@/config";
import type { MarkdownHeading } from "astro";

interface Props {
  className?: string;
  title: string;
  blogPostHeadings?: MarkdownHeading[];
}

const { className, title, blogPostHeadings } = Astro.props;
---

<BaseLayout title={title}>
  <!-- Header -->
  <Header blogPostHeadings={blogPostHeadings} />

  <!-- Search dialog -->
  <SearchDialog />

  <div class="flex w-full flex-col items-center overflow-auto">
    <main
      class={cn(
        "flex flex-col gap-8 max-w-[500px] md:max-w-[800px] md:w-3/4 min-w-[20rem] w-2/3 py-16 px-4 ",
        className
      )}
      style={{ marginTop: config.headerHeight }}
    >
      <!-- Main content -->
      <slot />
    </main>
  </div>
</BaseLayout>
