---
import BaseLayout from "./BaseLayout.astro";

import Header from "@/components/Header.astro";
import SearchDialog from "@/components/SearchDialog.astro";

import { cn } from "@/lib/utils";
import { config } from "@/config";

interface Props {
  className?: string;
  title: string;
}

const { className, title } = Astro.props;
---

<BaseLayout className="" title={title}>
  <!-- Header -->
  <Header />

  <!-- Search dialog -->
  <SearchDialog />

  <main
    class={cn(
      "flex flex-col gap-8 max-w-[500px] md:max-w-[800px] md:w-3/4 min-w-[20rem] w-2/3  py-16 px-4",
      className,
    )}
    style={{ marginTop: config.headerHeight }}
  >
    <!-- Main content -->
    <slot />
  </main>
</BaseLayout>
